
<div class="row">
  {{#each notes}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p>{{ description }}</p>
        <!-- DELETE REQUEST -->
        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
        </form>
      </div>
    </div>
    <style>
  #map{
    height:250px;
    width:100%;
  }
</style>
</head>
<body>
  <div id="map"></div>
  <script>
    var marks= {{description}};
    function initMap(){
      // Map options
      var options = {
        zoom:8,
        center:{lat:marks[1][0],lng:marks[1][1]}
      }

      // New map
      var map = new google.maps.Map(document.getElementById('map'), options);
      
      //console.log(marks[1][0])
      
      // Listen for click on map
      google.maps.event.addListener(map, 'click', function(event){
        // Add marker
        addMarker({coords:event.latLng});
      });

      /*
      // Add marker
      var marker = new google.maps.Marker({
        position:{lat:42.4668,lng:-70.9495},
        map:map,
        icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
      });

      var infoWindow = new google.maps.InfoWindow({
        content:'<h1>Lynn MA</h1>'
      });

      marker.addListener('click', function(){
        infoWindow.open(map, marker);
      });
      */
      var markers=[];
      // Array of markers
      for(i =0;i<marks.length-1;i++){
        marker={coords:{lat:marks[i+1][0],lng:marks[i+1][1]},
          iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          content:'<h1>Lynn MA</h1>'}
          markers.push(marker);
      }
      /*markers = [
        {
          coords:{lat:marks[1][0],lng:marks[1][1]},
          iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          content:'<h1>Lynn MA</h1>'
        },
        {
          coords:{lat:42.8584,lng:-70.9300},
          content:'<h1>Amesbury MA</h1>'
        },
        {
          coords:{lat:42.7762,lng:-71.0773}
        }
      ];*/

      // Loop through markers
      for(var i = 0;i < markers.length;i++){
        // Add marker
        addMarker(markers[i]);
      }

      // Add Marker Function
      function addMarker(props){
        var marker = new google.maps.Marker({
          position:props.coords,
          map:map,
          //icon:props.iconImage
        });

        // Check for customicon
        if(props.iconImage){
          // Set icon image
          marker.setIcon(props.iconImage);
        }

        // Check content
        if(props.content){
          var infoWindow = new google.maps.InfoWindow({
            content:props.content
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLfvcsagRYKp9CgzE3Uq2FRJLk-YnTvZI&callback=initMap">
    </script>
</body>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hello {{user.name}}</h1>
      <p clsss="lead">There are not Notes yet.</p>
      <a href="/notes/add" class="btn btn-success btn-block">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>
